hw5/Galois/lib/libgalois.a
hw5/hw4-data.mat
hw5/hw4-data.mtl
hw5/Galois-2.2.1/build/default/apps/sssp/CMakeFiles/sssp.dir/SSSP.cpp.o
hw5/Galois-2.2.1/build/default/apps/sssp/sssp
hw5/Galois-2.2.1/build/default/src/libgalois.a
hw5/hw4-data.gr
hw7/newdata/livejournal.dat
hw7/movielens/cv5/train
hw7/movielens/cv0/test
hw7/movielens/cv0/train
hw7/movielens/train
hw7/movielens/cv3/test
hw7/movielens/cv3/train
hw7/movielens/cv2/test
hw7/movielens/cv2/train
hw7/movielens/cv1/test
hw7/movielens/cv1/train
hw7/movielens/cv4/test
hw7/movielens/cv4/train
hw1/hw1-data/large.mat
hw3/data/rcv1.t
hw3/data/rcv1.tr
hw3/data/covtype.tr
hw2/data/large/l.train
hw4/data/hw4-data.txt
hw4/data/data.txt
